<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.alert.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer</servlet-name>
        <servlet-class>com.alert.model.customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.alert.controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.alert.controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.alert.controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReportServlet</servlet-name>
        <servlet-class>com.alert.controller.UpdateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReportServlet</servlet-name>
        <servlet-class>com.alert.controller.EditReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportServlet</servlet-name>
        <servlet-class>com.alert.controller.DeleteReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.alert.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReportStatusServlet</servlet-name>
        <servlet-class>com.alert.controller.UpdateReportStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerSettingServlet</servlet-name>
        <servlet-class>com.alert.controller.customerSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportServlet</servlet-name>
        <servlet-class>com.alert.controller.ViewReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSettingServlet</servlet-name>
        <servlet-class>com.alert.controller.adminSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>com.alert.controller.ViewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReportServlet</servlet-name>
        <url-pattern>/UpdateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReportServlet</servlet-name>
        <url-pattern>/EditReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportServlet</servlet-name>
        <url-pattern>/DeleteReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReportStatusServlet</servlet-name>
        <url-pattern>/UpdateReportStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerSettingServlet</servlet-name>
        <url-pattern>/customerSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportServlet</servlet-name>
        <url-pattern>/ViewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSettingServlet</servlet-name>
        <url-pattern>/adminSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/ViewUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
